<!DOCTYPE html>
<html>
  <head>
    <title>Buy cool new product</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <section>
      <h2>List of Products</h2>
      <% prices.forEach((price) => { %>
        <div class="product">
          <img src="https://i.imgur.com/EHyR2nP.png" alt="The cover of Stubborn Attachments" />
          <div class="description">
            <h3><%= price.product.name %></h3>
            <h5><%= CURRENCY_SYMBOLS[price.currency.toUpperCase()]%><%= price.unit_amount/100 %> per <%= price.recurring.interval %></h5>
          </div>
        </div>
        <form action="/create-checkout-session/<%= price.id %>" method="POST">
          <button type="submit" id="checkout-button">Buy</button>
        </form>
      <% }); %>
    </section>
  </body>
</html>