<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/header'); %>
  </head>
  <body>
    <div class="py-3 text-center">
      <h1 class="display-5 fw-bold">Configure</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4"></p>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-md-center py-3">
        <div class="col-4 align-self-center">
          <form action="/configure" method="POST" id="form">
            <div class="mb-3">
              <label for="user_picker" class="form-label">Current User</label>
              <select class="form-select" name="user_picker">
                <% users.forEach((user) => { %>
                  <% if (user.id === selected_user){ %>
                    <option value="<%= user.id %>" selected><%= user.email %> (<%= user.id %>)</option>
                  <% } else { %>
                    <option value="<%= user.id %>"><%= user.email %> (<%= user.id %>)</option>
                  <% } %>
                <% }); %>
              </select>
            </div>
            <div class="mb-3 form-check">
              <% if (use_offerings === true){ %>
                <input type="checkbox" class="form-check-input" name="use_offerings" checked>
              <% } else { %>
                <input type="checkbox" class="form-check-input" name="use_offerings">
              <% } %>
              <label for="use_offerings" class="form-label">User Offerings to filter products</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
  <%- include('./partials/scripts'); %>
</html>